.block__groups {
    margin-top: 50px;
    border-color: #fff;

}

.content__block__groups {
    display: grid;

}

@media (min-width: 320px) {
    .content__block__groups {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        margin-top: -20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: 770px) {
    .content__block__groups {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}

@media (min-width: 960px) {
    .content__block__groups {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
}

@media (min-width: 961px) {
    .content__block__groups {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 30px;
    }
}

.block__experience {
    background-image: url(../img/background-about-us.svg);
    background-position-x: 100%, 0%;
    background-position-y: 43.99%, 0%;
    background-size: cover, auto;
    background-color: rgba(232, 238, 239, 0.68);

}

.block__accountability {
    background-image: url(../img/background-about-us.svg);
    background-position-x: 100%, 0%;
    background-position-y: 43.99%, 0%;
    background-size: cover, auto;
    background-color: rgba(232, 238, 239, 0.68);

}

.block__responsiveness {
    background-image: url(../img/background-about-us.svg);
    background-position-x: 100%, 0%;
    background-position-y: 43.99%, 0%;
    background-size: cover, auto;
    background-color: rgba(232, 238, 239, 0.68);

}

.block__respectful {
    background-image: url(../img/background-about-us.svg);
    background-position-x: 100%, 0%;
    background-position-y: 43.99%, 0%;
    background-size: cover, auto;
    background-color: rgba(232, 238, 239, 0.68);

}

.heading__text {
    padding-left: 20px;
    font-size: 26px;
    font-weight: 500;
    color: rgb(6, 42, 77);
}

.content__line {
    height: 3px;
    width: 10%;
    background-color: #d0df56;

}

.text_content {
    padding: 20px;
    text-align: left;
    padding-bottom: 73px;
    color: rgb(84, 115, 142);
}

.block__icon {
    padding: 40px 0px 20px 20px;
}

#button__size {
    font-size: 11px;
    width: 176px;
    height: 60px;
}