@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Rubik:wght@300;400;500;600;700&family=Work+Sans:wght@400;500;800&display=swap');

* {
    box-sizing: border-box;
}

html {
    margin-left: 22px;
    margin-right: 22px;
    margin-top: -8px;
}

@media (max-width: 1240px) {
    html {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: -8px;
    }
}

:root {
    font-family: 'Rubik', sans-serif;
    --header-about-us-color: rgb(6, 42, 77);
    --p-color: rgb(84, 115, 142);
    --caption-color: #50aab2;
    --title-color: #062a4d;
    --subTitle-color: #385977;
    --text-color: #54738e;
    --content-block-color: #e8eeef;
    --content-block-background: url(..//img/background_about_us.svg);
    --header-about-us-color-top-icon: #50aab2;
    --button-color: #d0df56;
    --button-a-color: #062a4d;
    --button-color-hover: #50aab2;
    --button-a-color-hover: #ffffff;
    --contacts-background-image: url(../img/contacts-background.svg);
    --contacts-background-color: #062a4d;
    --contacts-background-color-up: #062a4dfc;
    --contacts-title-color: #ffffff;
    --background-contact-us: #e6eef5;
    --contact-us-input-background: #e8eeef;
    --contact-us-input-border: #50aab2;
    --contact-us-input-color: #062a4d;
    --companies-page-text-color: #c5c5c6;
}


.img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    color: var(--title-color);
    font-size: 46px;
    font-weight: 700;
}

h2 {
    color: var(--subTitle-color);
    font-size: 19px;
    font-weight: 500;
}

h3 {
    color: var(--caption-color);
    font-weight: 800;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    line-height: 21.71px;
}

p {
    color: var(--p-color);
    font-size: 17px;
    line-height: 25.5px;
}