.background__img {
    background-image: url(../img/page-company-background-image.png);
    padding: 100px 0px 150px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.companies__page-name {
    color: var(--caption-color);
    font-weight: 600;
    font-size: 12px;
    padding-left: 32px;
    padding-bottom: 30px;
}

.companies__title {
    color: var(--content-block-color);
    font-size: 34px;
    font-weight: 600;
    padding-bottom: 30px;
    padding-left: 32px;
}

.companies__subtitle {
    color: var(--content-block-color);
    font-size: 19px;
    font-weight: 600;
    padding-bottom: 30px;
    padding-left: 32px;
}

.companies__text {
    color: var(--companies-page-text-color);
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 60px;
    padding-left: 32px;
}

.companies__partners {
    width: 100%;
    padding-left: 32px;  
}

/* .carousel-partners {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    padding-right: 32px;
} */

.companies__container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
}