.background__img {
  background-image: url(../img/page-company-background-image.png);
  padding: 100px 0px 150px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5px;
}

.companies__page-name {
  color: var(--caption-color);
  font-weight: 600;
  font-size: 13px;
  padding-left: 32px;
  padding-bottom: 30px;
}

.companies__title {
  color: var(--content-block-color);
  font-size: 46px;
  font-weight: 600;
  padding-bottom: 30px;
  padding-left: 32px;
}

.companies__subtitle {
  color: var(--content-block-color);
  font-size: 19px;
  font-weight: 600;
  padding-bottom: 30px;
  padding-left: 32px;
}

.companies__text {
  color: var(--companies-page-text-color);
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 60px;
  padding-left: 32px;
}

.companies__partners {
  width: 100%;
  padding-left: 32px;
}

.carousel-partners img {
  width: 100%;
}

.carousel-partners {
  display: flex;
  gap: 15px;
  padding-left: 32px;
  padding-right: 32px;
  height: 175px;
}

.partners-slide img {
  cursor: pointer;
}

.companies__container {
  display: grid;
  max-width: 670px;
}

.modal-companies-logo {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-color: #000000cc;
}

.modal-content-companies-logo {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close-companies-logo {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.modal-header-companies-logo {
  padding: 62px 26px;
  margin-top: 40px;
}

.partners-slide-full img {
  width: 100%;
  max-width: fit-content;
}

.btn-forvard-companies-slide,
.btn-back-companies-slide {
  width: 40px;
  height: 110px;
  background-color: #3a4750;
  color: white;
  font-size: 60px;
  cursor: pointer;
}

.btn-forvard-companies-slide:hover,
.btn-back-companies-slide:hover {
  background-color: #000000cc;
  transition: all 0.3s ease;
}

.modal-companies-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
