bot-content {
    margin: auto;
    width: auto;
    height: 510px;
    box-sizing: border-box;
    background-image: url(../img/mar4.svg);
    background-color: rgba(80, 170, 178, 0.98);
    margin: 0px 30px;
    
}

.main-bot-content {
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    background-color: rgba(80, 170, 178, 0.98);
    margin-bottom: 30px;

}

.info-bot-content {
    height: 510px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Rubik, sans-serif;
    align-items:center
}

.consultation-span {
    color: rgb(232, 238, 239);
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 1.3px;
    line-height: 21px;
    text-transform: uppercase;
}

.title-span {
    font-size: 46px;
    font-weight: 900;
    line-height: 55px;
    color: rgb(255, 255, 255);
}

.info-span {
    color: rgb(232, 238, 239);
    font-size: 19px;
    font-weight: 550;
    line-height: 28px;
}

.consultation-btn {
    display: flex;
    width: 160px;
    height: 60px;
    background-color: var(--button-color);
    font-size: 12px;
    color: var(--button-a-color);
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(208, 223, 86);
    /* height: 50px;
    width: 160px;*/
    letter-spacing: 1.1px;
    text-transform: uppercase;
    /* font-family: Rubik, sans-serif;
    border: none;
    font-size: 11px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.consultation-btn:hover {
    color: white;
    background-color: rgb(6, 42, 77);
    /* background-color: var(--button-color-hover);
    color: var(--button-a-color-hover); */
    transition: all 0.3s ease;
}