.contactUs {
    display: flex;
    margin-top: 15px;
    background-color: var(--background-contact-us);
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}
@media (max-width:950px) {
    .contactUs {
        flex-direction: column;
    }
}

.contactUs-left {
    margin-top: 30px;
}

.contactUs__form input {
    display: block;
    border-color: var(--contact-us-input-border);
    background-color: var(--contact-us-input-background);
    color: var(--contact-us-input-color);
    width: 450px;
    height: 52.39px;
    padding-left: 12px;
    font-size: 12px;
    margin: 19px 21px;
    border: none;
}

.contactUs__form textarea {
    display: block;
    border-color: var(--contact-us-input-border);
    background-color: var(--contact-us-input-background);
    color: var(--contact-us-input-color);
    width: 450px;
    height: 150px;
    padding-left: 12px;
    font-size: 12px;
    margin: 19px 21px;
    border: none;
}

.map {
    margin-left: 50px;
    width: 500px;

}

.contactUs__form {
    width: 570.33px;
    height: 846.771px;
    background-color: var(--contacts-title-color);
    top: 50px;
    padding-left: 60px;
}

.submit {
    font-size: 11px;
    font-weight: 700;
    width: 338px;
    height: 49px;
    border: none;
    background-color: var(--button-color);
    margin: 19px 21px;
}

.submit:hover {
    background-color: var(--button-color-hover);
    color: var(--button-a-color-hover);
    cursor: pointer;
}