.articles {
    box-sizing: border-box;
    margin-top: 20px;
    max-width: 100%;
}

.articles__content {
    max-width: 1200px;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
}
.articles-up {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.caption {
    font-size: 13px;
    text-align: center;
    color: var(--caption-color);
    font-weight: 700;
    text-transform: uppercase;
}

.title {
    color: var(--title-color);
    font-size: 46px;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
}

.subTitle {
    color: var(--subTitle-color);
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    margin-top: 25px;
}

.articles__row {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 80px;
}
@media (max-width:700px) {
.articles__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5;
}
}
@media (max-width:500px) {
        .articles__row {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.articles__column {
    display: flex;
    flex-direction: column;
    min-width: 399.98px;
    padding: 0px 15px;
}

.column__image {
    min-width: 369.98px;
}

.articles__column img {
    display: block;
    max-width: 100%;
}

.column__caption {
    font-size: 13px;
    color: var(--button-color);
    font-weight: 700;
    margin-top: 35px;
    letter-spacing: 1.3px;
}

.column__title {
    color: var(--title-color);
    font-size: 26px;
    font-weight: 500;
    margin-top: 20px;
}

.column__text {
    color: var(--text-color);
    font-size: 17px;
    text-align: justify;
    font-weight: 400;
    margin-top: 20px;
}

.column__button {
    background-color: var(--button-color);
    width: 116.19px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    font-weight: 700;
    margin-top: 40px;
}

.column__button a {
    color: var(--button-a-color);
    text-decoration: none;
}

.column__button a:hover {
    color: var(--button-a-color-hover);
}

.column__button:hover {
    background-color: var(--button-color-hover);
}