footer {
    max-width: 2217.33px;
}

.footer-content {
    width: 1200px;
    margin: auto;
    margin-top: 45px;
}

.nav__logo img {
    width: 202px;
    height: 32.71px;
}

.nav__logo {
    margin-top: 7px;
}

.fbLogo img {
    width: 7.12px;
    height: 16.31px;
}

.instLogo img {
    width: 14.5px;
    height: 14.5px;
}

.twtLogo img {
    width: 14.5px;
    height: 11.78px;
}

.youtubeLogo img {
    width: 16.31px;
    height: 11.93px;
}

.fbLogo,
.instLogo,
.twtLogo,
.youtubeLogo {
    width: 29px;
    height: 29px;
    background-color: var(--button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
}

.nav__logoBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.columns {
    display: flex;
    flex-direction: row;
}

.columns a {
    display: flex;
    flex-direction: row;
    color: #93a1ad;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 5px;
}

.columns a:hover {
    color: var(--title-color);
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
}

.leftSide span {
    display: block;
    color: #93a1ad;
    font-size: 15px;
    font-weight: 500;
    line-height: 25.05px;
    margin: 20px 0;
}

.leftSide {
    display: flex;
    flex-direction: column;
    width: 210px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #93a1ad;
}

.title-footer {
    font-size: 26px;
    font-weight: 500;
    color: var(--title-color);
    border-bottom: 2px solid var(--button-color);
    margin-bottom: 15px;
}

#submit {
    background-color: var(--button-color);
    color: var(--title-color);
    font-weight: 700;
    font-size: 11px;
    border: none;
    width: 210px;
    height: 49px;
}

#submit:hover {
    color: var(--button-a-color-hover);
    background-color: var(--button-color-hover);
    cursor: pointer;
}

input {
    display: block;
    width: 210px;
    height: 52.4px;
    padding: 19px 21px;
    margin: 12px 0px 0px;
    border: none;
    background-color: var(--content-block-color);
}

#subscribe {
    display: flex;
    flex-direction: column;
}

.down__left span {
    display: block;
    font-size: 15px;
    color: var(--title-color);
    font-weight: 500;
}

.down__right span {
    display: block;
    font-size: 15px;
    color: var(--title-color);
    font-weight: 500;
}

.down {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}