.gallery {
    background: var(--content-block-color);
}

.gallery-subtitle {
    font-size: 12px;
    line-height: 1.67;
    font-weight: 700;
    color: var(--header-about-us-color);
    text-transform: uppercase;
}

.gallery-h2 {
    margin-top: 20px;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--header-about-us-color);
}

.gallery-p {
    margin-top: 25px;
    font-size: 19px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--header-about-us-color);
}