.gallery {
    margin-top: 20px;
    background-color: var(--content-block-color);
    background-image: url('/img/gallery-background.svg');
    text-align: center;
}

/*.gallery-box {
    padding-top: 80px;
    padding-bottom: 80px;
}*/

.gallery-subtitle {
    font-size: 12px;
    line-height: 1.67;
    font-weight: 700;
    color: var(--caption-color);
    text-transform: uppercase;
    padding-top: 60px;
}

.gallery-h2 {
    margin-top: 20px;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--header-about-us-color);
}

.gallery-p {
    margin-top: 25px;
    font-size: 19px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--p-color);
    padding-bottom: 50px;
}

.gallery-carousel {
    min-height: 934px;
    display: flex;
    justify-content: space-between;
}

.gallery-carousel img {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    margin: auto;
}