.head-logo-img {
    width: 202px;
    height: 32px;
    margin: 15px 0 15px 15px;
}

.head-logo-button {
    display: flex;
    background-color: #e8eeef;
}

.head-logo-style {
    width: 240px;
}

#heder-menu-toggle {
    display: none;
  }

.menu__btn {
  display: flex; 
  align-items: center;  
  position: fixed;
  top: 60px;
  right: 20px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  display: block;
  float: right;
}

/* hamburger */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* menu container */
.nav-link-page {
    margin: 0;
    list-style: none;
    text-align: center;
  }

  /* menu items */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }

  #heder-menu-toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  
  #heder-menu-toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #heder-menu-toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #heder-menu-toggle:checked ~ .nav-link-page-toggl {
    left: 0;
  }

.nav-link-page {
    color: rgb(56, 89, 119);
}

.header-icon-link {
    height: 30px;
    display: flex;
    margin: auto;
}

.nav-link-page ul li {
    display: inline;
}

.nav-link-page a {
    color: rgb(56, 89, 119);
}

.nav__social__network {
    display: flex;
    margin: 0 0 0 25px;
}

.fb__header,
.inst__header,
.tw__header,
.youtube__header {
    height: 32px;
    width: 32px;
    background-color: #d0df56;
    margin: 0px 2px 5px 5px;
}

.head-facebook-img {
    width: 12px;
    padding-top: 25%;
    margin-left: 25%;
}

.head-instagram-img {
    width: 16px;
    height: 16px;
    display: flex;
    margin: auto;
    position: relative;
    top: 25%;
}

.head-twitter-img {
    width: 16px;
    display: flex;
    margin: auto;
    position: relative;
    top: 25%;
}

.head-youtube-img {
    width: 18px;
    height: 30px;
    display: flex;
    margin: auto;
}

.head-picter-block {
    background-image: url("../img/title-picter.png");
    padding: 100px 0px 150px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
}

.header-h1, .header-proposition {
    margin: revert;
}  

.header-button {
    margin-right: 47px;
    background: #d0df56;
    width: 195px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 12px; 
}

.header-button:focus {
    margin-right: 47px;
    background: #d0df56;
    width: 195px;
    cursor: pointer;    
}

.header-button:active {
    margin-right: 47px;
    background: #50aab2;
    width: 195px;
    cursor: pointer; 
    color: #e8eeef;   
}
 
.nav-header, .nav__social__network, .header__menu {
    display: flex;
    align-items: center;
} 

.header-background {
    background-color: #e8eeef;
}

.header-text-style {
    width: 42%;
    height: auto;
    margin: 85px 0 0 85px;   
}

.header-h1 {  
    margin: revert;
    margin-top: 28px;
} 

.header-proposition {
    margin-top: 47px;
}

.header-button {
    margin-top: 38px;
}

.nav-link-page {
    margin-left: 60px;
    margin-right: 60px;
}

.nav-link-page a {
    color: rgb(56 89 119);
    margin: 0 30px 0 0px;
    font-size: 100%;
    text-decoration: none;
}

.nav-link-page a:hover {
    color: #062a4d;
    font-weight: bold;
}

.nav-header {
    padding: 30px 10px 30px 10px;
    margin: 0px auto;
    width: fit-content;
}

.head-logo-style {
    margin: 5px 10px 2px;
    padding-left: 15px;
    padding-right: 40px;
}

.fb__header,
.inst__header,
.tw__header,
.youtube__header {
    background-color: #d0df56;
    width: 32px;
    height: 32px;
    margin: 5px;
}

.header-icon-link {
    height: 30px;
    display: flex;
    margin: auto;
}

.head-facebook-img {
    width: 12px;
    display: flex;
    margin: auto;
}

.head-instagram-img {
    width: 16px;
    height: 16px;
    display: flex;
    margin: auto;
}

.head-twitter-img {
    width: 16px;
    display: flex;
    margin: auto;
}

.head-youtube-img {
    width: 18px;
    height: 30px;
    display: flex;
    margin: auto;
}

.head-picter {
    width: 100%;
    padding-left: 30px;
}

.head-logo-img {
    width: 202px;
    height: auto;
}

.shift-header {
    color: #50aab2
}

.head-picter-style {
    background: url("../img/title-picter.png") center no-repeat;
    width: 100%;
    height: 100%;
    margin: 0px 30px 15px 30px;
    background-size: cover; 
}  

.header-name{
    font-size: 60px;
}



@media (max-width: 1280px) {
    .nav-link-page ul li {
        display: list-item;
       list-style: none;
    }

    .menu__btn {
        top: 74px;
        width: 26px;
        right: 100px;
    }
    
    .nav__social__network, .header__menu {
    opacity: 0;
    display: none;
    }

    .nav-header {
        margin: 0;
    }

    .head-picter-block {
        margin-top: 0;
    }
}

@media (max-width: 1280px) {
    .menu__btn {
        top: 65px;
        width: 26px;
        right: 100px;
    }

    .header-text-style {
        width: 60%;
    }
}

@media (max-width: 420px) {
    .menu__btn {
        right: 47px;
    }

    .header-text-style {
        margin: 110px 0 0 20px;
        width: 60%;
    }

    .header-name {
        font-size: 50px;
    }
}