.head-logo-img {
    width: 202px;
    height: 32px;
    margin: 15px 0 15px 15px;
}

.head-logo-button {
    display: flex;
    background-color: #e8eeef;
}

.head-logo-style {
    width: 240px;
}

.heder-burger-menu {
    margin: 15px 10px 40px 78px;
}

.nav-link-page {
    color: rgb(56, 89, 119);
}

.header-icon-link {
    height: 30px;
    display: flex;
    margin: auto;
}

.nav-link-page ul li {
    display: inline;
}

.nav-link-page a {
    color: rgb(56, 89, 119);
}

.nav__social__network {
    display: flex;
    margin: 0 0 0 25px;
}

.fb__header,
.inst__header,
.tw__header,
.youtube__header {
    height: 32px;
    width: 32px;
    background-color: #d0df56;
    margin: 0px 2px 5px 5px;
}

.head-facebook-img {
    width: 12px;
    padding-top: 25%;
    margin-left: 25%;
}

.head-instagram-img {
    width: 16px;
    height: 16px;
    display: flex;
    margin: auto;
    position: relative;
    top: 25%;
}

.head-twitter-img {
    width: 16px;
    display: flex;
    margin: auto;
    position: relative;
    top: 25%;
}

.head-youtube-img {
    width: 18px;
    height: 30px;
    display: flex;
    margin: auto;
}

.head-picter-block {
    background-image: url("../img/title-picter.png");
    width: 100%;
    height: 100%;
    margin: 15px 0 30px;     
    background-size: cover;
    background-repeat: no-repeat;
    height: 424px;
}

.head-picter-style {
    margin-left: 30px;
    margin: 15px 0 30px; 
}

 .nav-header, .nav__social__network, .header__menu {
    display: flex;
    align-items: center;
} 

.header-background {
    background-color: #e8eeef;
    margin: 0 30px 15px 30px;
}

.nav-link-page {
    margin-left: 60px;
    margin-right: 60px;
}

.nav-link-page a {
    color: rgb(56 89 119);
    margin: 0 30px 0 0px;
    font-size: 100%;
    text-decoration: none;
}

.nav-link-page a:hover {
    color: #062a4d;
    font-weight: bold;
}

.nav-header {
    padding: 30px 10px 30px 10px;
    margin: 0px auto;
    width: fit-content;
}

.head-logo-style {
    margin: 5px 10px 2px;
    padding-left: 15px;
    padding-right: 40px;
}

.fb__header,
.inst__header,
.tw__header,
.youtube__header {
    background-color: #d0df56;
    width: 32px;
    height: 32px;
    margin: 5px;
}

.header-icon-link {
    height: 30px;
    display: flex;
    margin: auto;
}

.head-facebook-img {
    width: 12px;
    display: flex;
    margin: auto;
}

.head-instagram-img {
    width: 16px;
    height: 16px;
    display: flex;
    margin: auto;
}

.head-twitter-img {
    width: 16px;
    display: flex;
    margin: auto;
}

.head-youtube-img {
    width: 18px;
    height: 30px;
    display: flex;
    margin: auto;
}

.head-picter {
    width: 100%;
    padding-left: 30px;
}

.head-logo-img {
    width: 202px;
    height: auto;
}

.shift-header {
    color: #50aab2
}

.head-picter-style {
    background: url("../img/title-picter.png") center no-repeat;
    width: 100%;
    height: 100%;
    margin: 0px 30px 15px 30px;
    background-size: cover; 
}  

@media (max-width: 1280px) {
    .nav-link-page ul li {
        display: list-item;
       list-style: none;
    }
}

@media (max-width: 800px) {
    .nav-header div, .nav-header nav {
        display: block;
    }
}

@media (max-width: 660px) {
    body {
        background-color: #d0df56;     
    }

    .nav-header {
        display: block;
    }
    
    div.nav__social__network {
        display: flex;
        margin-top: 10px;
    }

    .header-background {
        margin: 0px;
    }

    .head-logo-style {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .head-logo-style img{
        margin-left: 0px;
    }
    .nav-link-page ul li {
        text-align: center;
    }

}