@import url(common.css);
@import url(css-articles.css);
@import url(css-contacts.css);
@import url(contact-us.css);
@import url(head.css);
@import url(about-us.css);
@import url(header-about-us.css);
@import url(pricing-page.css);
@import url(companies-page.css);
@import url(testimonials.css);
@import url(gallery.css);
@import url(footer.css);
@import url(our-process.css);
@import url(consultation.css);
@import url(latest-projects.css);
@import url(video-page.css);

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Rubik', sans-serif;
    --caption-color: #50aab2;
    --title-color: #062a4d;
    --subTitle-color: #385977;
    --text-color: #54738e;
    --content-block-color: #e8eeef;
    --content-block-background: url(..//img/background_about_us.svg);
    --header-about-us-color: #062a4d;
    --header-about-us-color-top-icon: #50aab2;
    --button-color: #d0df56;
    --button-a-color: #062a4d;
    --button-color-hover: #50aab2;
    --button-a-color-hover: #ffffff;
    --contacts-background-image: url(../img/contacts-background.svg);
    --contacts-background-color: #062a4d;
    --contacts-background-color-up: #062a4dfc;
    --contacts-title-color: #ffffff;
    --background-contact-us: #e6eef5;
    --contact-us-input-background: #e8eeef;
    --contact-us-input-border: #50aab2;
    --contact-us-input-color: #062a4d;
}

.img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}
.all_pages {
    margin-left: 25px;
    margin-right: 25px;
}

