.top-content {
    max-width: 100%;
    padding-top: 60px;
}

.header-span {
    padding-bottom: 20px;
}

.header-span1 {
    padding-bottom: 15px;
}


.header-span2 {
    line-height: 27.5px;
}

.header {
    text-align: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

.bot-wrapper {
    padding: 60px 0px;
    display: flex;
}

.text-conteiner {
    padding-top: 20px;
}

.grid {
    display: flex;
}

@media (max-width: 990px) and (min-width: 760px) {
    .grid {
        display: grid;
        grid-template-areas:
            "a b"
            "c c";
        width: 100%;
    }
    .grid-wrapper:nth-child(1) {
        grid-area: a;
    }
    .grid-wrapper:nth-child(2) {
        grid-area: b;
    }
    .grid-wrapper:nth-child(3) {
        grid-area: c;
        margin: 0 auto;
        max-width: 50%;
        margin-top: 20px;
    }
    .bot-wrapper{
        display: block;
    }
}


@media (max-width: 760px) {
    .grid {
        display: flex;
        flex-direction: column;

    }

    .header-span1 {
        font-size: 34px;
    }

    #picture-about-conteiner {
        font-size: 22px;
        font-weight: 500;
    }
    #picture-about-conteiner-02 {
        font-size: 22px;
        font-weight: 500;
    }
    
    #picture-about-conteiner-03 {
        font-size: 22px;
        font-weight: 500;
    }

    #number-color-conteiner {
        font-size: 22px;
        font-weight: 500;
    }
    #number-color-conteiner-02 {
        font-size: 22px;
        font-weight: 500;
    }
    #number-color-conteiner-03 {
        font-size: 22px;
        font-weight: 500;
    }

    #text-info-conteiner {
        font-size: 17px;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    #text-info-conteiner-02 {
        font-size: 17px;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    #text-info-conteiner-03 {
        font-size: 17px;
        padding-bottom: 30px;
        padding-top: 20px;
    }
}



.grid-wrapper {
    margin: 0px 25px;
}

.pictr1 img {
    max-width: 100%;
}

.pictr2 img {
    max-width: 100%;
}

.pictr3 img {
    max-width: 100%;
}

.number-color {
    color: var(--caption-color);
    font-size: 26px;
    font-weight: 700;
}

.picture-about {
    color: var(--title-color);
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
}