.pricing__page-block {
    background-color: var(--content-block-color);
    padding: 80px 0px 0px 0px
}

.pricing__page-name {
    color: var(--caption-color);
    font-weight: bold;
    font-size: 12px;
    height: 50px;
    text-align: center;
}

.pricing__title {
    color: var(--title-color);
    font-size: 34px;
}

.pricing__subtitle {
    color: #385977;
    font-size: 19px;
    margin-bottom: 80px;
}

.pricing__list-block-part {
    list-style: none;
}

.pricing__list-item {
    list-style: none;
}

.pricing__name-door {
    color: var(--title-color);
    font-size: 18px;
}

.pricing__line {
    color: var(--title-color);
    font-size: 18px;
}

.pricing__from-text {
    color: #53738e;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
}

.pricing__cost-door {
    color: var(--caption-color);
    font-size: 25px;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.pricing__about-block {
    color: #54738e;
    font-size: 14px;
    font-weight:600;
}
.pricing_grid-line {
    border-bottom: solid 1px #062a4d;
    margin-bottom: 3px;
}
.pricing {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
}
@media (max-width: 768px) {
    .pricing {
        display: grid;
        grid-template-columns: 1fr;
        gap: 60px;
    }
}
.pricing__contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pricing__call-ico {
    background-color: #d0df56;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.pricing__call-ico-img {
    display: block;
    margin: auto;
    padding-top: 4.5px;
    width: 40px;
}

.pricing__contacts-header {
    color: #062a4d;
    font-size: 22px;
    font-weight: 600; 
}

.pricing__phone-mail {
    color: #062a4d;
    font-size: 14px;
    font-weight: 600;
}

.pricing__contact-text-link {
    color: #50aab2;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}

.pricing__contact-text-link:hover {
    text-decoration: underline;
}
