.button-store {
    display: flex;
    width: 157px;
    height: 60px;
    background-color: var(--button-color);
    font-size: 12px;
    color: var(--button-a-color);
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
}

.button-store:hover {
    background-color: var(--caption-color);
}

.top-content {
    max-width: 100%;
    padding-top: 60px;
}

.header-span {
    padding-bottom: 20px;
}

.header-span1 {
    padding-bottom: 15px;
}


.header-span2 {
    line-height: 27.5px;
}

.header {
    text-align: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-doors conteiner {
    padding: 60px 0px;
    display: flex;
    padding-left: 130px;
    padding-right: 130px;
    max-width: 100%;

}

.text-conteiner {
    padding-top: 20px;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

@media (max-width: 990px) and (min-width: 760px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .bot-wrapper {
        padding: 60px 0px;
        display: flex;
        padding-left: 0px;
        padding-right: 0px;
        max-width: 100%;

    }

}

@media (max-width: 760px) {
    #grid {
        display: flex;
        flex-direction: column;

    }

    .bot-wrapper {
        padding: 60px 0px;
        display: flex;
        padding-left: 0px;
        padding-right: 0px;
        max-width: 100%;

    }

    .header-span1 {
        font-size: 34px;
    }

    #picture-about-conteiner {
        font-size: 22px;
        font-weight: 500;
    }

    #picture-about-conteiner-02 {
        font-size: 22px;
        font-weight: 500;
    }

    #picture-about-conteiner-03 {
        font-size: 22px;
        font-weight: 500;
    }

    #number-color-conteiner {
        font-size: 22px;
        font-weight: 500;
    }

    #number-color-conteiner-02 {
        font-size: 22px;
        font-weight: 500;
    }

    #number-color-conteiner-03 {
        font-size: 22px;
        font-weight: 500;
    }

    #text-info-conteiner {
        font-size: 17px;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    #text-info-conteiner-02 {
        font-size: 17px;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    #text-info-conteiner-03 {
        font-size: 17px;
        padding-bottom: 30px;
        padding-top: 20px;
    }
}



.grid-wrapper {
    margin: 0px 25px;
}

.pictr1 img {
    max-width: 100%;
}

.pictr2 img {
    max-width: 100%;
}

.pictr3 img {
    max-width: 100%;
}

.number-color {
    color: var(--caption-color);
    font-size: 26px;
    font-weight: 700;
}

.picture-about {
    color: var(--title-color);
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
}


.button_forward__hp {
    position: relative;
    left: 20px;
}

.slide_button {
    font-size: 50px;
    color: #7CBDE3;
    background-color: white;
    font-weight: 600;
    position: relative;
    bottom: 35px;
    right: 10px;
}

.carousel-doors {
    padding: 60px 0px;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 100%;
}