.testimonials {
    background-image: url(../img/testimonials.png);
    padding: 200px 0px 150px 0px;
    background-repeat: no-repeat;
    height: fit-content;
}

.testimonials-subtitle {
    color: #d0df56;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.67;
    margin-left: 60%;
}

.testimonials-title {
    color: #fff;
    margin-top: 20px;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
    margin-left: 60%;
}

.testimonials-text {
    margin-top: 25px;
    color: #fff;
    font-size: 18px;
    line-height: 1.56;
    font-weight: 400;
    font-style: italic;
    max-width: 767px;
    margin-left: 60%;
}

.testimonials-initials {
    margin-top: 30px;
    color: #d0df56;
    font-size: 19px;
    line-height: 1.5;
    font-weight: 500;
    margin-left: 60%;
}
.column__button {
    margin-left: 60%;
    font-size: 11px;
}