.video_page-name {
    color: var( --caption-color);
    font-size: 12px;
    font-weight: 600;
}
.video_title {
    font-size: 40px;
    font-weight: 600;
}
.video_button {
    width: 176px;
    height: 60px;
    background-color: var(--button-color);
    border: none;
}
.video_button:hover {
    color: var(--caption-color);
}    
.video_button-text {
    font-size: 11;
    color: var(--button-a-color);
    font-weight: 600;
    text-align: center;
}


.video_block-youtube {
    width: 100%;
    object-fit: cover;
    align-self: center;
}
.video_subtitle {
    align-self: center;
}
.video_text {
    align-self: center;
}
.video_video-block {
    display: flex;
    flex-direction: column;
}
.video-video_text-block {
    display: flex;
    flex-direction: column;
}
